<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>FlutterDeepLinkingEnabled</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Driver-FastshipHu</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Driver-FastshipHu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-938800403743-ios-c3dec15c2bb1c92a268c2a</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to Apple Music to play audio content and manage your music library for a better user experience.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar to schedule and manage delivery events, ensuring timely service coordination.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>This app requires full calendar access to create, modify, and manage delivery schedules and appointments effectively.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to scan documents, capture delivery proof photos, and verify package conditions.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts to help you quickly find and communicate with customers and delivery recipients.</string>
	<key>LSApplicationQueriesSchemes</key>
    <array>
      <string>tel</string>
    </array>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID to securely authenticate your identity and protect your account information.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires continuous location access to track your position for real-time delivery updates, route optimization, and to notify you of nearby delivery opportunities.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs background location access to provide real-time delivery tracking and receive location-based notifications even when the app is not active.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access while in use to show your current position on the map, calculate delivery routes, and find nearby delivery opportunities.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to enable voice commands, record delivery notes, and facilitate hands-free communication during deliveries.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to save photos to your library for delivery documentation, proof of delivery, and package condition records.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to upload delivery documentation, proof of delivery photos, and package condition images.</string>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<false/>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires speech recognition access to enable voice commands for hands-free operation during deliveries and navigation.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs access to the device's motion sensors to detect emergency situations, enable shake-to-report features, and enhance delivery safety monitoring.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>The app needs permission to send notifications so you don't miss new orders and important updates.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
